name: Node.js CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      S3_REGION: test
      S3_BUCKET: test
      ACCESS_KEY: test
      SECRET_ACCESS_KEY: test

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run test --if-present
      - run: npm run lint --if-present
